<footer>
  <div class="footer" id="footer">
    <div class="container7">

      <div class="row">

        <div class="col-md-3 col-xs-12 ">
          <p><strong> DoctorWho Beta Project </strong></p>
            <ul>
                <li><%= link_to "Leave a review",  doctors_path %></li>
                <li><%= link_to "Find a doctor",  doctors_path %></li>

            </ul>
        </div>

          <div class="col-md-3 col-xs-12 ">
            <p><strong> Team </strong></p>
            <ul>
                <li><%= link_to "Arthur Ramos",  about_path %></li>
                <li><%= link_to "Livia Puppa", about_path %></li>
                <li><%= link_to "Pedro Almeida",  about_path %></li>
                <li><%= link_to "Tamara Jost",  about_path %></li>
            </ul>
        </div>

          <div class="col-md-3 col-xs-12 ">
            <br>
            <ul>
                <li><br> Our special thanks to Le Wagon Staff </li>
            </ul>
        </div>

      </div>
    </div>
  </div>
</footer>
