<br>
<br>
<br>
<div class="container">

  <div class="panel-body">

    <center><h1>About DoctorWho</h1></center>

    <p class="text-center"> DoctorWho is a platform to connect doctors and patients in every major city, in an easy way, by helping you find the doctors you and your friends trust. It has been developed during the 9-week program at <strong><a href = "https://www.lewagon.com/pt-BR/sao-paulo">LeWagon Bootcamp</a></strong> in São Paulo. </p>

    <br>
     <center> <%= image_tag "lewagon.jpg", size: "150x150", class: "img-circle" %> </center>
  </div>


  <center><h1>Team</h1></center>

  <div class="row">
   <div class="col-sm-12 col-md-3">
    <div>
    <p class="text-center"> <strong>Arthur</strong></p>
    <center><%= image_tag "arthur2.jpg", size: "100x100", class: "img-circle" %></center>
    <p class="text-center">leorne ajhakdj  kjasbfk;jbfk kjbkajb  kabfkbkfhbkhsf kbfakb</p>
    <div class="card text-center">
      <!-- ul>li*3>a>i.fa.fa-linkedin-->
      <ul class="list-inline">
        <li class="text-center">
          <a href="https://www.facebook.com/aearamos">
            <i class="fa fa-facebook" class="links"></i>
          </a>
        </li>
        <li class="text-center">
          <a href="https://www.linkedin.com/in/msc-arthur-ramos-02bbb532">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        <li class="text-center">
          <a href="https://github.com/aearamos">
            <i class="fa fa-github"></i>
          </a>
        </li>
      </ul>
    </div>
    </div>
  </div>

  <br>

  <div class="col-sm-12 col-md-3">
    <div>
      <p class="text-center"><strong>Tamara</strong></p>
        <center><%= image_tag "tamara2.jpg", size: "100x100", class: "img-circle" %></center>
      <p class="text-center"> A Scrum Master, IT Project Manager,  Social Scientist, Soccer-Lover, and a small-town-Swiss who lives in the big Brazilian city plucked up courage and learned to code </p>
      <div class="card text-center">
        <ul class="list-inline">
          <li class="text-center">
            <a href="https://www.facebook.com/tam.ara.16547">
              <i class="fa fa-facebook" class="links"></i>
            </a>
          </li>
          <li class="text-center">
            <a href="https://www.linkedin.com/in/tamara-jost-a8386a7">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
          <li class="text-center">
            <a href="https://github.com/tamazonia">
              <i class="fa fa-github"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <br>

  <div class="col-sm-12 col-md-3">
    <div>
    <p class="text-center"><strong>Livia</strong></p>
    <center><%= image_tag "livia2.jpg", size: "100x100", class: "img-circle" %></center>
    <p class="text-center">leorne ajhakdj  kjasbfk;jbfk kjbkajb  kabfkbkfhbkhsf kbfakb</p>
      <div class="card text-center">
        <ul class="list-inline">
          <li class="text-center">
            <a href="https://www.facebook.com/aivilliv">
              <i class="fa fa-facebook" class="links"></i>
            </a>
          </li>
          <li class="text-center">
            <a href="https://www.linkedin.com/in/liviapuppa">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
          <li class="text-center">
            <a href="https://github.com/pupppa">
              <i class="fa fa-github"></i>
            </a>
          </li>
        </ul>
      </div>
  </div>
  </div>

  <br>

  <div class="col-sm-12 col-md-3">
    <div>
    <p class="text-center"><strong>Pedro</strong></p>
    <center><%= image_tag "pedro2.jpg", size: "100x100", class: "img-circle" %></center>
    <p class="text-center">leorne ajhakdj  kjasbfk;jbfk kjbkajb  kabfkbkfhbkhsf kbfakb</p>
    <div class="card text-center">
        <ul class="list-inline">
          <li class="text-center">
            <a href="#">
              <i class="fa fa-facebook" class="links"></i>
            </a>
          </li>
          <li class="text-center">
            <a href="https://www.linkedin.com/in/pedro-almeida-2278a67">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
          <li class="text-center">
            <a href="https://github.com/pmpalmeida">
              <i class="fa fa-github"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
<br>
<br>
<center>
 <%= image_tag "team.jpg", size: "50vh", class: "img-responsive img-thumbnail", style: "max-height: 500px" %>

<br>
<br>
</div>

