<br>
<br>
<br>
<div class="container">

  <div class="panel-body">

    <h1>About DoctorWho</h1>

    <p class="text-center"> The Doctor Who is a platform to connect doctors and patients in every major city, it has been developed during the 9-week-LeWagon Bootcamp. </p>
    <br>
     <center> <%= image_tag "lewagon.jpg", size: "150x150" %> </center>

    <h1>Team</h1>

  </div>


<div class="row">

   <div class="col-sm-12 col-md-3">
    <div>
    <p class="text-center">Arthur</p>
    <center><%= image_tag "arthur2.jpg", size: "100x100" %></center>
    <p class="text-center">leorne ajhakdj  kjasbfk;jbfk kjbkajb  kabfkbkfhbkhsf kbfakb</p>
    <center><i class="fa fa-linkedin"></i></center>
    <center><i class="fa fa-github"></i></center>
    </div>
  </div>


  <div class="col-sm-12 col-md-3">
    <div>
    <p class="text-center">Tamara</p>
    <center><%= image_tag "tamara2.jpg", size: "100x100" %></center>
    <p class="text-center">leorne ajhakdj  kjasbfk;jbfk kjbkajb  kabfkbkfhbkhsf kbfakb</p>
    <center><i class="fa fa-linkedin"></i></center>
    <center><i class="fa fa-github"></i></center>
    </div>
  </div>

  <div class="col-sm-12 col-md-3">
    <div>
    <p class="text-center">Livia</p>
    <center><%= image_tag "livia2.jpg", size: "100x100" %></center>
    <p class="text-center">leorne ajhakdj  kjasbfk;jbfk kjbkajb  kabfkbkfhbkhsf kbfakb</p>
    <center><i class="fa fa-linkedin"></i></center>
    <center><i class="fa fa-github"></i></center>
    </div>
  </div>


  <div class="col-sm-12 col-md-3">
    <div>
    <p class="text-center">Pedro</p>
    <center><%= image_tag "pedro2.jpg", size: "100x100" %></center>
    <p class="text-center">leorne ajhakdj  kjasbfk;jbfk kjbkajb  kabfkbkfhbkhsf kbfakb</p>
    <center><i class="fa fa-linkedin"></i></center>
    <center><i class="fa fa-github"></i></center>
    </div>
  </div>

</div>

 <%= image_tag "teamphoto.jpg" %>

</div>
