
<div class="fonts">

<div class="banner" style="background-image: linear-gradient(0deg, rgba(255,255,255,1.0) 0%, rgba(0,111,139,0.1) 50%), url('http://res.cloudinary.com/livpuppa/image/upload/v1493192993/banner_wssfw1.jpg');">



  <div class="banner-content">
      <div class="title">
        <h1>Find a doctor you trust & fits your needs</h1>
      </div>


        <form action="<%=doctors_path%>" class="seach-form search">
          <input type="text" name = "search[name]" id="search_name" class="search-input" placeholder="Name"></input>
          <input type="text" name = "search[street_name]" id="search_street_name" class="search-input" placeholder="Place in Sao Paulo"></input>
          <select name="search[specialty]" id="search_specialty" class="search-input" type="text" style="height:42px; background-color: white; border-radius: 0px">
              <option value="" >Specialty</option>
              <%Specialty.all.each do |specialty|%>
                <option value=<%=specialty.name%>><%=specialty.name%></option>
                 <%end%>
          </select>
          <button class="btn btn-treehouse">Find</button>
        </form>


  </div>
</div> <!-- END OF BANNER BACKGROUND  -->


<div class="block2">
<h2 class="pool"> Latest Reviews </h2>
<div class="row">


<div class="col-xs-12 col-sm-4">
  <div class="card-home">
   <% r = Review.last %>
    <div class="card-home-category"> <strong><%= link_to r.doctor.name, doctor_path(r.doctor) %> </strong> </div>
    <div class="card-home-description-title">
      <h2>"<%= truncate(r.title, length: 17) %>" </h2>
      <p class="small-p"><%= t(r.created_at.strftime('%d %b %Y')  ) %> </p>
    </div>
    <div class="card-home-description-text">
      <p class="medium-p">"<%= truncate(r.comment, length: 65)%>"</p>
    </div>
    <img class="card-home-user" src="<%= r.doctor.photo %>">
  </div>
</div>


<div class="col-xs-12 col-sm-4">
  <div class="card-home">
   <% r = Review.order("created_at DESC").second %>
    <div class="card-home-category"> <strong><%= link_to r.doctor.name, doctor_path(r.doctor) %> </strong> </div>
    <div class="card-home-description-title">
      <h2>"<%= truncate(r.title, length: 17) %>" </h2>
      <p class="small-p"><%= t(r.created_at.strftime('%d %b %Y')  ) %> </p>
    </div>
    <div class="card-home-description-text">
      <p class="medium-p">"<%= truncate(r.comment, length: 65)%>"</p>
    </div>
    <img class="card-home-user" src="<%= r.doctor.photo %>">
  </div>
</div>

<div class="col-xs-12 col-sm-4">
  <div class="card-home">
   <% r = Review.order("created_at DESC").third %>
    <div class="card-home-category"> <strong><%= link_to r.doctor.name, doctor_path(r.doctor) %> </strong> </div>
    <div class="card-home-description-title">
      <h2>"<%= truncate(r.title, length: 17) %>" </h2>
      <p class="small-p"><%= t(r.created_at.strftime('%d %b %Y')  ) %> </p>
    </div>
    <div class="card-home-description-text">
      <p class="medium-p">"<%= truncate(r.comment, length: 65)%>"</p>
    </div>
    <img class="card-home-user" src="<%= r.doctor.photo %>">
  </div>
</div>



</div>
</div>


<div class="block">
  <h1 style="color:white; line-height: 55px; letter-spacing: 1px;">DoctorWho helps you find the right doctor near you based on true reviews.</h1>
</div>


<div class="block2">
<div class="row">

<div class="icon col-xs-12 col-sm-4">
    <img src="http://res.cloudinary.com/livpuppa/image/upload/v1493632471/2_zlifra.png" alt="" class="icons"><br><br>
    <div><h4 style="color: #686868; font-size: 19.5px; line-height: 25px;">Read inspiring, first-person experiences from real patients like you.</h4>
    </div>
</div>

<div class="icon col-xs-12 col-sm-4">
    <img src="http://res.cloudinary.com/livpuppa/image/upload/v1493632471/3_ohjmyg.png" alt="" class="icons"><br><br>
    <div><h4 style="color: #686868; font-size: 19.5px; line-height: 25px;">We've made it easy to find the best doctor near your by their specialties.</h4>
    </div>
</div>

<div class="icon col-xs-12 col-sm-4">
    <img src="http://res.cloudinary.com/livpuppa/image/upload/v1493632471/1_xdeo50.png" alt="" class="icons"><br><br>
    <div><h4 style="color: #686868; font-size: 19.5px; line-height: 25px;">You can help people like you find the right doctor you already like.</h4>
    </div>
</div>

</div>
</div>






<div class="block5">
  <h1 style="color:white; line-height: 55px; letter-spacing: 1px;">Be our partner!</h1>
</div>


<div class="block4">
<div class="row">

<div class="col-xs-12 col-sm-4">

    <div><h6>PROVIDERS</h6>

<h6>Ensure that your profile is accurate, comprehensive, differentiated from others in your speciality, and connect with patients who can benefit most from your care.</h6>
    </div>
</div>

<div class="col-xs-12 col-sm-4">

    <div><h6>FOR DOCTORS</h6>

<h6>We have the solutions, insights and experts to meet your unique growth, engagement and quality challenges. We can measurably improve your performance.</h6>
    </div>
</div>

<div class="col-xs-12 col-sm-4">
    <div><h6>FOR ADVERTISERS</h6>

<h6>Reach the largest audience of patients with targeting based on over conditions, physician specialty or demographics. Your ads will reach the most relevant patients for your brand.</h6>
    </div>
</div>

</div>
</div>
