<div class="background-image" style="background-image: linear-gradient(180deg, rgba(0,101,168,0.2) 0%, rgba(255,255,255,0.4) 50%), url('http://res.cloudinary.com/livpuppa/image/upload/v1493238698/city_iw0rls.jpg');">



<div class="wrapper">
<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 blue">

        <div class="blue">
          <div class="1">
            <h1 style="text-align: center"><strong>Is this you?</strong></h1>
            <p style="text-align: center"><strong><%=@doctor.name%></strong></p>
            <br>
             <center><img src= <%=@doctor.photo%> ></center>
            <p style="text-align: center"><strong>CRM: <%=@doctor.crm%></strong></p>
          </div>
        </div>

    </div> <!-- MASTER BLUE -->

  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 red">

    <h1 style="text-align: center"> Contact us and improve your public profile </p>
    <p style="text-align: center"><strong><%=@doctor.name%></strong></p>

      <div style="padding: 15px">
      <i><p>Get 150% more appoitments</p></i>
      <i><p>Edit your public profile</p></i>
      <i><p>Change your availability status</p></i>
      <i><p>Add multiple addresses and phone numbers</p></i>
      </div>

      <button type="button" class="btn btn-danger btn-round-lg btn-lg" data-toggle="modal" data-target="#myModal2"> Contact us: </button>


  </div>


</div> <!-- END CONTAINER -->
</div> <!-- END WRAPPER -->
</div> <!-- END BACKGROUND -->


<!-- MODAL -->
<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Contact us:</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for (@doctor), :url => match_doctor_path do |f| %>

          <%= simple_fields_for :message do |n| %>
            <%= n.input :phone_number, label: false, placeholder: "Phone Number"  %>
            <%= n.input :text, label: false, placeholder: "Message"  %>
          <% end %>

      </div>
      <div class="modal-footer">
        <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div><!-- END MODAL -->
