


<div class="wrapper-index">
<div class="all" style="background-image: linear-gradient(180deg, rgba(0,101,168,0.2) 0%, rgba(255,255,255,0.4) 50%), url('http://res.cloudinary.com/livpuppa/image/upload/v1493238698/city_iw0rls.jpg');">

<h2 class="text-center">Your Doctor Search Results: </h2>
  <div class="container content-container">
    <div class="wrapper-flex">
      <div class="filter-index">
        <p>Here will come some fancy filters</p>
      </div>
      <div class="wrapper-doctor-cards">
          <div class="row">
            <div class="col-xs-12">
              <% @doctors.each do |doctor|%>

                <div class="card-doctor">
                  <h3 class= "card-doctor-name">  <%= doctor.name %> </h3>
                  <p class="card-doctor-address"> <%= doctor.street_name %> <br> <%= doctor.city_name %></p>
                  <p class="card-doctor-specialty">
                 <!-- I'm trying to do a comma after the List of specialties -->
                   <!--  <%= doctor.specialties.each{ |specialty|
                      specialty.name}.join(", ") %> -->
                    <% doctor.specialties.each do |specialty| %>
                      <%= specialty.name %>
                    <% end %>
                  </p>
                  <img class= "card-doctor-profile" src= <%= doctor.photo %> alt="">
                    <%= link_to " ", doctor_path(doctor), class: "card-doctor-link" %>
                  <div class="rating-info">
                    <div class="btn btn-primary card-doctor-index-rating-button"> Review!</div>
                    <div class="card-doctor-rating-description"> Rating </div>
                    <div class="card-doctor-rating-average"> <%= doctor.average_review.to_f.round(1) %> </div>
                    <div class="card-doctor-amount-of-reviews"> <%= doctor.reviews.count %> Reviews </div>
                  </div>
                </div>
              <%end%>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
</div>
