<div class="background-image" style="background-image: linear-gradient(180deg, rgba(0,101,168,0.2) 0%, rgba(255,255,255,0.4) 50%), url('http://res.cloudinary.com/livpuppa/image/upload/v1493238698/city_iw0rls.jpg');">

<!-- <div class="map container">
<img src="http://res.cloudinary.com/livpuppa/image/upload/v1493303349/Captura_de_Tela_2017-04-27_a%CC%80s_11.28.34_s4aig3.png" alt="" >
</div>
 -->

<div class="wrapper">
<div class="container">
<div class="row">




<!-- <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 red">
    <h1> <%= @doctor.name %> </h1>
    <br>
    <% specialties = @doctor.specialties %>
    <% specialties.each do |specialty| %>
    <p> <strong><%=specialty.name%></strong> </p>
    <% end %>

    <p><%= @doctor.street_name%></p>
    <p><%= @doctor.city_name %></p>

    <p><% if @doctor.website == "Não Disponível."%>
        <strong>Website: </strong><%=@doctor.website %>
     <% else %>
        <strong>Website: </strong><%=link_to @doctor.website, @doctor.website %>
    <%end%>
    </p>
    <br>
</div>

<br>
<br>

<button class="btn btn-treehouse" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Read the description about this doctor
</button>
<div class="collapse" id="collapseExample">
  <div class="well1">
   <%= @doctor.description %>
  </div>
</div> -->




























<!-- DOCTOR PICTURE -->
<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 blue">
  <div class=" panel panel-infopic">

    <div class="doc-pic">



      <img src= <%=@doctor.photo%> alt="kudoz" class="product-image doctor-picture hidden-xs">
    </div>

    <div class="btn btn-treehouse"> <%= @doctor.average_review.to_f.round(1) %>
    </div>

  </div>

  <div class="btn btn-treehouse" data-toggle="modal" data-target="#myModal"> Review!
  </div>

</div>
    <div class="blue">
    <div class="4">
    <div class="review-buttons">



    </div>
    </div>
</div> <!-- END DOCTOR PICTURE -->



<!-- DOCTOR DESCRIPTION -->
<center>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 red">
  <h1> <%= @doctor.name %> </h1>
  <% specialties = @doctor.specialties %>
  <% specialties.each do |specialty| %>
  <p> <strong><%=specialty.name%></strong> </p>
  <% end %>

  <p><% if @doctor.website == "Não Disponível."%>
      <strong>Website: </strong><%=@doctor.website %>
   <% else %>
  <strong>Website: </strong><%=link_to @doctor.website, @doctor.website %>
  <%end%></p>


    <button class="btn btn-treehouse" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Read the description about this doctor
  </button>
  <div class="collapse" id="collapseExample">
  <div class="well1">
  <br>
  <p><%= @doctor.description %></p>
  </div>
  </div>
</div>
</center>
<!-- END DOCTOR DESCRIPTION -->





















<!-- REVIEWS -->
<div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 green">
    <% reviews = @doctor.reviews %>
    <% reviews.each do |review| %>

        <section style="background-color: #FAFAFA; padding: 20px; margin: 20px 0; box-shadow: 1px 1px 3px #F0F0F0; position: relative">

      <div style="display: flex; align-items: left;">

          <div style="text-align: left; margin-right: 40px">
            <h4>Rating:</h4>

             <div class="btn btn-treehouse"> <%= review.rating %>
            </div>


            <h2><%= @review.rating %></h2>
          </div>

          <div>
            <h4><strong><%=review.title%></strong></h4>
            <h5><%=review.comment%></h5>
            <h6><%=review.user.first_name%>, <%=review.user.created_at%></h6>
          </div>

      </div>

        </section>
        <% end %>

    </div>
  </div>
</div>
<!-- END REVIEWS -->




</div><!-- END ROW -->
</div> <!-- END CONTAINER -->
</div> <!-- END WRAPPER -->
</div> <!-- END BACKGROUND -->




<!-- MODAL -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Review Dr.<%= @doctor.name %></h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@doctor, @review] do |f| %>
        <%= f.input :title, label: false, placeholder: "Review title" %>
        <%= f.input :comment, label: false, placeholder: "Comment" %>
        <%= f.input :rating, collection: 1..5, placeholder: "Rating" %>
      </div>
      <div class="modal-footer">
        <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div><!-- END MODAL -->
