

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('background.jpg');">
  <div class="banner-content">
  <br>


  <div class="wrapper" style="background: white; border-radius: 5px; margin: 80px; margin-top: 5px; padding: 10px">

    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
      <p>MAP WITH DOCTOR ADDRESS</p>
      <p>MAP WITH DOCTOR ADDRESS</p>
      <p>MAP WITH DOCTOR ADDRESS</p>
      <p>MAP WITH DOCTOR ADDRESS</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-4">

          <div style="background-color: #469AE0; border-radius: 5px; padding: 10px">


            <div style="display: flex; justify-content: space-around;">
              <img src="http://www.fillmurray.com/190/190" alt="">
            <div style="text-align: center">
              <h3>RATING</h3>
              <h2> <strong> 4.7 </strong> </h2>
            </div>
            </div>
            <br>
            <div style="text-align: center">
            <a href="#" class="btn btn-danger">Review this doctor</a>
            </div>

          </div>

        </div>


        <div class="col-xs-8">
          <h1><%= "Dr. " + @doctor.first_name.to_s + " " + @doctor.last_name.to_s %></h1>
          <% specialties = @doctor.specialties %>
            <% specialties.each do |specialty| %>
            <p> <strong><%=specialty.name%></strong> </p>
          <% end %>
          <p><strong>Description: </strong><%=@doctor.description%></p>
          <br>
          <p><strong>Contact: </strong><%=@doctor.phone%></p>
          <p><strong>Address: </strong><%=@doctor.street_name.to_s + " - " + @doctor.city_name.to_s%></p>
        </div>

      </div>
    </div>


<div>

  <h1>REVIEWS</h1>


</div>

  </div>




</div>


</div>




