<div class="background-image" style="background-image: linear-gradient(180deg, rgba(0,101,168,0.2) 0%, rgba(255,255,255,0.4) 50%), url('http://res.cloudinary.com/livpuppa/image/upload/v1493238698/city_iw0rls.jpg');">

<!-- <div class="map container">
<img src="http://res.cloudinary.com/livpuppa/image/upload/v1493303349/Captura_de_Tela_2017-04-27_a%CC%80s_11.28.34_s4aig3.png" alt="" >
</div>
 -->


<div class="wrapper">
<div class="container">
<div class="row2">

<!-- buttons nav -->
<div style="display: flex; justify-content: space-between">
  <div>
  <%= link_to root_path do %>
    <div> <button type="button" class="btn btn-link glyphicon glyphicon-home" data-toggle="tooltip" data-placement="right" title="Back to home"></button> </div>
  <% end %>
  </div>
  <div>
  <%= link_to doctors_path do %>
    <div> <button type="button" class="btn btn-link glyphicon glyphicon-list" data-toggle="tooltip" data-placement="right" title="Doctor listing"></button> </div>
  <% end %>
  </div>
  <div>
  <%= link_to doctors_path do %>
    <div> <button type="button" class="btn btn-link glyphicon glyphicon-search" data-toggle="tooltip" data-placement="right" title="Search new doctor"></button> </div>
  <% end %>
  </div>
  <div>
  <%= link_to user_path(current_user) do %>
    <div> <button type="button" class="btn btn-link glyphicon glyphicon-user" data-toggle="tooltip" data-placement="right" title="User profile"></button> </div>
  <% end %>
  </div>

</div>




<!-- buttons nav END -->


<!-- MAP -->
<div id="map" style="width: 100%; height: 200px;"></div>


<br>

<!-- DOCTOR PICTURE -->
<div class="row">
  <div class="col-sm-12 col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <center>
        <img src=<%=@doctor.photo%> alt="user" class="avatar-square">

     <!--    <%if @doctor.user.nil?%>
        <%if current_user.doctor.nil?%>
        <%= link_to match_doctor_path(@doctor) do %>
        <button role="button" class="btn btn-primary">Is this you?</button>
        <%end%>
        <%end%>
        <%end%> -->

        </center>

         <center>
        <%if @doctor.user.nil?%>
        <%if current_user.doctor.nil?%>
        <%= link_to match_doctor_path(@doctor) do %>

        <br>
        <button type="button" class="btn btn-primary btn-xs" data-placement="bottom">Is this you?</button>

        <%end%>
        <%end%>
        <%end%>
        </center>

        <div class="caption">
        <h2><%= @doctor.name %> </h2>
        <p><p><% if @doctor.website == "Não Disponível."%>
        Website: <%=@doctor.website %>
        <% else %>
        <center><h6><%=link_to @doctor.website, @doctor.website %></h6></center>
        <% end %></p>

        <button role="button" class="btn btn-primary btn-md" data-toggle='modal' data-target='#myModal'>Review</button>

        </a>
      </div>
    </div>
  </div>
</div>


<!-- DOCTOR INFO -->
<div class="col-sm-12 col-md-8">

    <div class="panel panel-default">
    <div class="paneli-body">
    <p><h5>Specialties: <% @doctor.specialties.each do |specialty| %><%= specialty.name %>
    <h5>Description:</h5>
    <p class="description hide_description"><%= @doctor.description %></p><button class="read-more btn btn-primary btn-xs ">
     read more
    </button><button class="read-less hidden btn btn-primary btn-xs">
     read less
    </button>


<% content_for :after_js do %>

<script type="text/javascript">
    $(document).ready(function() {
      $('.read-more').on('click', function(event) {
        $('.description').removeClass("hide_description");
        $('.read-more').addClass("hidden");
        $('.read-less').removeClass("hidden");
      });

      $('.read-less').on('click', function(event) {
        $('.description').addClass("hide_description");
        $('.read-more').removeClass("hidden");
        $('.read-less').addClass("hidden");
      });
    });
</script>

<%end%>


    <% end %>
    </div>
  </div>


    </div>
  </div>
</div> <!-- END DOCTOR INFO -->



<div class="fffu"></div>
<div class="fff"> REVIEWS First-person experiences from real patients like you. <button role="button" class="btn btn-primary btn-xs" data-toggle='modal' data-target='#myModal'>Share your experience with <%= @doctor.name %>  </button> </div>

<!-- END JAVA REVIEWS -->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <% @doctor.reviews.each do |review| %>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h5 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= dom_id review %>" aria-expanded="true" aria-controls="<%= dom_id review %>">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      <%=review.title%>
      </button> Rating:<div class="btn btn-danger"> <%= review.rating %>
      </div>
              </a>
            </h5>
          </div>
          <div id="<%= dom_id review %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <%=review.comment%>
            </div>
            <br>Patient <%=review.user.first_name%>, at <%=review.user.created_at%>
          </div>
        </div>
      <% end %>
    </div>
<!-- END JAVA REVIEWS -->


<!-- END REVIEWS -->

</div> <!-- END ROW -->
</div> <!-- END CONTAINER -->
</div> <!-- END WRAPPER -->
</div> <!-- END BACKGROUND -->

<!-- MODAL -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Review Dr.<%= @doctor.name %></h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@doctor, @review] do |f| %>
        <%= f.input :title, label: false, placeholder: "Review title" %>
        <%= f.input :comment, label: false, placeholder: "Comment" %>
        <%= f.input :rating, collection: 1..5, placeholder: "Rating" %>
      </div>
      <div class="modal-footer">
        <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL -->


<!-- MAP -->
     <% content_for(:after_js) do %>
        <%= javascript_tag do %>
          $(document).ready(function() {
            var handler = Gmaps.build('Google');
            handler.buildMap({ internal: { id: 'map' } }, function() {
              markers = handler.addMarkers(<%= raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              if (markers.length == 0) {
                handler.getMap().setZoom(2);
              } else if (markers.length == 1) {
                handler.getMap().setZoom(14);
              }
            });
          });
        <% end %>
      <% end %>
<!-- END MAP -->
