

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('background.jpg');">
  <div class="banner-content">
    <br>


    <div class="wrapper" style="background: white; border-radius: 5px; margin: 80px; margin-top: 5px; padding: 10px">

      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
        <p>MAP WITH DOCTOR ADDRESS</p>
        <p>MAP WITH DOCTOR ADDRESS</p>
        <p>MAP WITH DOCTOR ADDRESS</p>
        <p>MAP WITH DOCTOR ADDRESS</p>
      </div>


      <div class="container">
        <div class="row">
          <div class=" col-sm-4 col-xs-12">
            <div style="background-color: #469AE0; border-radius: 5px; padding: 10px">
              <div style="display: flex; justify-content: space-around;">
                <img src= <%=@doctor.photo%> alt="">
                <div style="text-align: center">
                  <h3>RATING</h3>
                  <h2> <strong> <%= @doctor.average_review.to_f.round(1) %> </strong> </h2>
                  <a href="#" class="btn btn-success">Reviews</a>
                </div>
              </div>
              <br>
              <div style="text-align: center">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Review this doctor</button>
              </div>
            </div>
          </div>
        <div class="col-sm-8 col-xs-12">
          <h1><%= @doctor.name %></h1>
            <% specialties = @doctor.specialties %>
            <% specialties.each do |specialty| %>
            <p> <strong><%=specialty.name%></strong> </p>
            <% end %>
          <p><strong>Description: </strong><%=@doctor.description%></p>
          <br>
          <p><strong>Convênios: </strong><%=@doctor.insurance%></p>
          <p><strong>Contact: </strong><%=@doctor.phone%></p>
          <p><strong>Address: </strong><%=@doctor.street_name.to_s + " - " + @doctor.city_name.to_s%></p>
          <p><strong>Website: </strong><%=link_to @doctor.website, @doctor.website %></p>

        </div>
      </div>
    </div>

<br>
<br>


  <h1>REVIEWS</h1>
  <% reviews = @doctor.reviews %>
    <% reviews.each do |review| %>
    <section style="background-color: #FAFAFA; padding: 20px; margin: 20px 0; box-shadow: 1px 1px 3px #F0F0F0; position: relative">

    <div style="display: flex; align-items: center;">
    <div style="text-align: center; margin-right: 40px">
    <h4>RATING:</h4>
    <h2><%=review.rating%></h2>
    </div>

    <div>
    <h4><strong><%=review.title%></strong></h4>
    <h6><%=review.comment%></h6>
    <h6><%=review.user.first_name%>, <%=review.user.created_at%></h6>
    </div>
    </div>
    </section>
    <% end %>

    </div>

</div>
</div>





<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Review Dr.<%= @doctor.name %></h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@doctor, @review] do |f| %>
          <%= f.input :title, label: false, placeholder: "Review title" %>
          <%= f.input :comment, label: false, placeholder: "Comment" %>
          <%= f.input :rating, collection: 1..5, placeholder: "Rating" %>
      </div>
      <div class="modal-footer">
          <%= f.button :submit %>
          <% end %>
      </div>
    </div>

  </div>
</div>


