<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title_tag).blank? ? "DoctorWho - Find a doctor you trust & fits your needs" : yield(:title_tag) %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <!-- FACEBOOK META -->
      <meta property="og:title" content="DoctorWho - Find the best doctors">
      <meta property="og:image" content="facebook-card.jpg">
      <meta property="og:description" content="DoctorWho is the best plac to find and review doctors.">
      <meta property="og:site_name" content="DoctorWho"/>
    <!-- FACEBOOK META END -->

    <!-- GOOGLE META -->
      <meta name="description" content="DoctorWho is the best plac to find and review doctors...">
    <!-- GOOGLE META END -->

    <!-- TWITTER META -->
      <!-- <meta name="twitter:card" content="summary_large_image"> -->
      <meta name="twitter:site" content="@doctorwho">
      <meta name="twitter:title" content="DoctorWho - Find the best doctors">
      <meta name="twitter:description" content="DoctorWho is the best plac to find and review doctors.">
      <meta name="twitter:creator" content="@doctorwho">
      <!-- <meta name="twitter:image:src" content="http://twitter-card.jpg"> -->
    <!-- TWITTER META END -->

    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;subset=latin-ext" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&amp;subset=latin-ext" rel="stylesheet">

   <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext,vietnamese" rel="stylesheet">

   <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&amp;subset=latin-ext,vietnamese" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Ranga" rel="stylesheet">


  </head>



  <body class="<%= controller_name %> <%= action_name %>">

  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <div class="background-image" style="background-image: linear-gradient(180deg, rgba(0,101,168,0.2) 0%, rgba(255,255,255,0.4) 50%), url('http://res.cloudinary.com/livpuppa/image/upload/v1493238698/city_iw0rls.jpg');">

  <%= yield %>

  <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>


  <%= javascript_include_tag "application" %>

  <%= yield(:after_js) %>

  <%= render 'shared/footer' %>
  </body>
</html>


